.pdf-preview-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .pdf-preview-container .react-pdf__Page__textContent {
    color: transparent;
  }
  